.notfound {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notfound h1 {
  font-size: 50px;
  margin-bottom: 40px;
}

.notfound h3 {
  margin-bottom: 40px;
}

.notfound .ant-result-icon {
  margin: 0 auto;
}